* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Cabeçalho */

header {
    background-color: #B02428;
    height: auto;
}

#logofatec {
    float: left;
    padding: 15px;
}

#logocps {
    float: right;
    padding: 15px;
}

header h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #FFF;
    padding: 35px 0;
    text-transform: capitalize;
    letter-spacing: 2px;
}

/* Principal */

/* Tela adm ou aluno */

.alunoadm p {
    font-size: 15px;
    padding: 10px
}

.alunoadm h3 {
    text-transform: uppercase;
    font-size: 25px;
    padding: 15px;
}

#quadalunoadm {
    background-color: #ccc;
    width: 50%;
    height: 550px;
    margin: 60px auto;
    border-radius: 80px;
}

.titadmaluno {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 50px;
    font-size: 30px
}

.quadadm {
    background-color: #B02428;
    color: #FFF;
    width: 30%;
    height: 275px;
    padding: 30px;
    text-align: center;
    float: left;
    margin-left: 10%;
    border-radius: 30px;
}

.quadaluno {
    background-color: #B02428;
    color: #FFF;
    width: 30%;
    height: 275px;
    padding: 30px;
    text-align: center;
    float: right;
    margin-right: 10%;
    border-radius: 30px;
}

/* Tela login (adm/aluno) */

.titlogin {
    text-align: center;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.titlogin img {
    padding: 10px;
}

.titlogin h2 {
    font-size: 30px;
    padding: 15px;
    letter-spacing: 2px;
}

.titlogin h3 {
    font-size: 20px;
    padding: 10px;
    letter-spacing: 1px;
}

.formlog {
    text-align: center;
    padding-top: 30px;
}

.formlog input[type="text"],
input[type="password"],
::placeholder {
    padding: 0 10px;
}

.formlog input[type="text"],
input[type="password"] {
    background-color: #EDC5C6;
    border: 1px solid #EDC5C6;
    width: 30%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 2px;
}

.formlog input[type="submit"] {
    background-color: #798db4;
    width: 31%;
    padding: 12px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.forgotpass {
    margin: 30px;
}

.forgotpass a {
    text-decoration: none;
    color: #666;
}

/*Tela administrador */

.pnadm {
    background-color: #CCC;
    width: 30%;
    border-radius: 30px;
    height: auto;
    margin: auto;
}

.pnadm h2 {
    text-align: center;
    font-size: 30px;
    width: 50%;
    margin: 30px auto;
    padding-top: 30px;
}

.invisible {
    color: #CCC;
    margin-bottom: 30px;
}

.pnadm ul {
    list-style: none;
}

.pnadm ul li {
    text-align: center;
    padding: 20px 30px;
}

.pnadm ul li a {
    background-color: #B02428;
    color: #FFF;
    text-decoration: none;
    font-size: 30px;
    display: block;
    padding: 30px;
    border-radius: 30px;
}

/* Tela Visualização de Votaçoes */

#votacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDC5C6;
    width: 60%;
    margin: 30px auto;
    border-radius: 30px;
    padding: 20px 30px;
}

.votactit {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 2% auto;
}

#votacoes p {
    font-size: 20px;
    margin: 5px 0;
    text-align: left;
}

.info p {
    font-size: 20px;
    margin: 10px 0;
}

/* Tela Visualização de votos ALUNO */

#visvotaluno ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#visvotaluno ul li {
    float: right;
    margin: 10px;
}

#visvotaluno ul li a {
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 30px 20px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    width: 80%;
}

#visvotalunoocult ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    opacity: 40%;
}

#visvotalunoocult ul li {
    float: right;
    margin: 10px;

}

#visvotalunoocult ul li a {
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 30px 20px;
    border-radius: 20px;
    display: inline-block;
    cursor: not-allowed;
    width: 80%;
}

.abrvt {
    background-color: #798db4;
}

.cand {
    background-color: #6fd86f;
}

.visvotalunoocult {
    opacity: 40%;
}

/* Tela Visualização de votos ADM */

.visvotadm ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.visvotadm ul li {
    margin: 10px 0;
    text-align: center;
}

.visvotadm ul li a {
    background-color: #B02428;
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    width: 90%;
}

.sair {
    margin: 50px auto;
    text-align: center;
    width: 20%;
}

.sair a {
    display: block;
    font-size: 20px;
    color: #FFF;
    background-color: #798db4;
    padding: 20px;
    border-radius: 2px;
    text-decoration: none;
}

/* Cadastro candidato/votação */

.backgcadastro {
    background-color: #CCC;
}

#formcad {
    background-color: #FFF;
    width: 40%;
    margin: 3% auto;
    border-radius: 30px;
    text-align: center;
}

#formcad h2 {
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

#formcad input[type=text] {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #CCC;
    border-radius: 10px;
    font-size: 18px;
}

#formcad select {
    width: 86%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #CCC;
    border-radius: 10px;
    font-size: 18px;
    color: #666;
}

.uplimg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 75%;
}

.labelimg {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    color: #333;
}

.labelimg input[type="radio"] {
    margin: 5px;
    cursor: pointer;
    transform: scale(1.5);
    accent-color: #798db4;
    cursor: pointer;
}

.upload button {
    background-color: white;
    border: 1.5px solid #ccc;
    border-radius: 25px;
    padding: 10px 18px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease;
}

.upload button:hover {
    background-color: #f0f0f0;
}

.upload button span {
    font-size: 20px;
}

#formcad input[type="submit"] {
    background-color: #798db4;
    color: #FFF;
    border: none;
    padding: 15px;
    margin: 5%;
    width: 80%;
    font-size: 20px;
    cursor: pointer;
}

#formcad input[type="date"] {
    width: 80%;
    padding: 20px;
    margin: 10px auto;
    border: 1px solid #CCC;
    border-radius: 10px;
    font-size: 18px;
    color: #666;
}

.limitvot input[type="radio"] {
    transform: scale(1.5);
    accent-color: #007BFF;
    /* azul padrão */
    cursor: pointer;
    margin-right: 6px;
}

.limitvot label {
    margin-right: 10px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    text-align: left;
}

.limitvot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 10% 10px;
}

.limitvot p {
    font-size: 16px;
    margin-bottom: 5px;
}

.limitvot label {
    margin-right: 20px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
}

.limitvot .radio-group {
    display: flex;
    gap: 20px;
}

/* Area De eleição / Administração de candidatos */

#areaelei h2 {
    text-align: center;
    font-size: 30px;
    margin: 3%;
    letter-spacing: 1px;
}

#candidatos {
    height: auto;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 30px 0;
    border-radius: 30px;
}

.candidato {
    background-color: #FFF;
    border: 3px solid #ccc;
    border-radius: 30px;
    width: 15%;
    height: auto;
    text-align: center;
    margin: 10px;
    float: none;
}

.candidato img {
    margin: 40px 0;
}

.candidatotext {
    background-color: #EDC5C6;
    border-radius: 0 0 25px 25px;
}

.candidatotext p {
    padding: 10px;
    font-size: 23px;
}

.botaovot a {
    text-align: center;
    text-decoration: none;
    background-color: #6fd86f;
    color: #FFF;
    padding: 3px;
    margin: auto;
    display: block;
    width: 70%;
    font-size: 20px;
    border-radius: 30px;
}

.botaoremov a {
    text-align: center;
    text-decoration: none;
    background-color: #B02428;
    color: #FFF;
    padding: 3px;
    margin: auto;
    display: block;
    width: 70%;
    font-size: 18px;
    border-radius: 30px;
}

/* popup confirmando remoção/voto */

.areaeleic {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url('imagens/backareadeeleicao.png');
    background-position: center;
    background-repeat: no-repeat
}

.admcand {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url('imagens/backadmcand.PNG');
    background-position: center;
    background-repeat: no-repeat
}

#popupconfirm {
    text-align: center;
    background-color: #FFF;
    border: 3px solid #ccc;
    border-radius: 30px;
    width: 40%;
    margin: 5% auto;
}

#popupconfirm img {
    margin: 30px
}

#popupconfirm h3 {
    font-size: 30px;
    padding: 20px
}

#popupconfirm p {
    width: 70%;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.botaoconfirm {
    margin: 50px auto;
    width: 100%;
    text-align: center;
}

.botaoconfirm a {
    text-decoration: none;
    background-color: #6fd86f;
    color: #FFF;
    padding: 20px;
    font-size: 30px;
    display: block;
    border-radius: 20px;
}

.botaocanc {
    margin: 50px auto;
    width: 100%;
    text-align: center;
}

.botaocanc a {
    text-decoration: none;
    background-color: #B02428;
    color: #FFF;
    padding: 20px;
    font-size: 30px;
    display: block;
    border-radius: 20px;
}

/* Visualização De Votos */

#boxvotos {
    width: 90%;
    margin: 60px auto;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px 200px;
    padding: 30px 0;
}

.votoscand {
    background-color: #FFF;
    width: 30%;
    border-radius: 20px;
    border: 2px solid #CCC;
}

.votoscand p {
    padding: 20px 15px;
}

.votoscandheader {
    background-color: #EDC5C6;
    font-size: 25px;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}

.apurar {
    margin: 50px auto;
    text-align: center;
    width: 50%;
}

.apurar a {
    display: block;
    font-size: 20px;
    color: #FFF;
    background-color: #6fd86f;
    padding: 20px;
    border-radius: 2px;
    text-decoration: none;
}

.voltar {
    margin: 50px auto;
    text-align: center;
    width: 50%;
    display: block;
}

.voltar a {
    display: block;
    font-size: 20px;
    color: #FFF;
    background-color: #798db4;
    padding: 20px;
    border-radius: 2px;
    text-decoration: none;
}

/*Popups Verdes*/

#greenpopup {
    background-color: #A9FF98;
    color: #034100;
    width: 60%;
    margin: 40px auto;
    text-align: center;
    border-radius: 50px;
    height: auto;
}

#greenpopup img {
    margin: 60px
}

#greenpopup h2 {
    font-size: 50px;
    letter-spacing: 2px;
    padding: 20px
}

#greenpopup h3 {
    font-size: 30px;
    letter-spacing: 1px;
    padding: 30px
}

#greenpopup p {
    margin: 40px
}

#greenpopup a {
    color: #034100;
    font-size: 20px;
}

#greenpopup span {
    color: #A9FF98;
}

/* Popup esqueceu a senha*/

#forgpasspopup {
    background-color: #EDC5C6;
    width: 85%;
    margin: 2% auto;
    border-radius: 10px;
    text-align: center;
    height: auto;
}

#forgpasspopup p {
    font-size: 25px;
    padding: 15px;
}

#forgpasspopup span {
    font-size: 22px;
    padding: 15px;
}

#forgpasspopup .invisible {
    color: #EDC5C6;
}

#forgpasspopup input[type=text]{
    background-color: #FFF;
    border: 1px solid #ccc;
    width: 45%;
    padding: 1%;
    font-size: 17px;
    margin-bottom: 20px;
}
/* Lista Alunos */

#listavotos {
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    border: 2px solid #ccc;
}

.itemvoto {
    background-color: #EDC5C6;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemvoto label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.votocheck {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: #333;
    gap: 5px;
}

/* Rodapé */

footer {
    background-color: #B02428;
    height: 130px;
    clear: both;
}

#logogovsp img {
    clear: left;
    float: left;
    height: 130px;
}

#logoastros {
    float: right;
    margin: 20px 40px 0 40px;
}

html,
body {
    height: 100%;
}

#tudo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}